.community-page-container {
    display: flex;
    width: 100%;
    padding: 1rem;
}

.feed-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%; /* 50% */
    padding: 0 1rem; /* Add some padding for spacing */
    padding-top: 1rem;
}