.poker-player {
  width: 100%;
}
.poker-table {
  position: relative;
  width: 1100px; /* Reduced width */
  height: 450px; /* Reduced height */
  margin: 11vh 29vh; /* Adjusted vertical margin */
  background-color: #006400;
  border-radius: 15%/50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.community-cards-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}