.PokerLobby {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.pageTitle {
    color: rgb(111, 12, 12);
    margin-top: 1rem;
    margin-bottom: 5rem;
    font-size: 2rem;
}

.inputGameInfoSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    align-items: center;
}

.or-text {
    color: rgb(105, 104, 104);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.joinGameSection {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.createGameSection {
    display: flex;
    flex-direction: column;
    width: 30%;
    
}

.formInput {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
}

.gameInput {
    margin-bottom: 2rem;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
}

.actionButton {
    background-color: rgb(111, 12, 12);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
}

.toggleFormButton {
    background-color: rgb(111, 12, 12);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    width: 10rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
}

.submitButton {
    background-color: rgb(111, 12, 12);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    width: 10rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
}

.actionButton:hover,
.toggleFormButton:hover,
.submitButton:hover {
    background-color: rgb(95, 7, 7);
}

.createForm {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.createForm .formInput {
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .joinGameSection,
    .createGameSection {
        width: 90%; /* Full width on smaller screens */
    }

    .pageTitle {
        font-size: 1.5rem; /* Smaller title font on smaller screens */
        text-align: center; /* Center title */
    }

    .inputGameInfoSection,
    .joinGameSection,
    .createGameSection {
        height: auto; /* Adjust height automatically */
    }

    .actionButton,
    .toggleFormButton,
    .submitButton {
        width: 100%; /* Full width buttons */
    }
}