.community-cards {
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow-x: auto;
}

.card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 1.2rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.current-player-card {
  width: 30px;
  height: 50px;
}

.pot-cards {
    width: 50px;
    height: 75px;
    margin-left: 10px;
}
  
.hearts::after{
  content: "♥";
  color: red;
}

.spades::after{
  content: "♠";
  color: black;
}

.diamonds::after {
  content: "♦";
  color: red;
}

.clubs::after {
  content: "♣";
  color: black;
}