.player {
    background-color: #636262;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }

.current-turn {
    border: 2px solid white; /* Highlight for the current player's turn */
}

.other-player, .current-player {
    color: white;
    padding: 7px;
    border: 1px solid #636262;
    border-radius: 10px;
    opacity: 1;
    position: absolute;
    width: 10rem;
    height: auto;
    z-index: 2;
    transform: translate(-50%, -50%);
}

/* .other-player {
    color: white;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    opacity: 1;
    position: absolute;
    width: 200px;
    height: auto;
    z-index: 1;
    transform: translate(-50%, 50%);
    overflow: hidden;
    white-space: nowrap;
} */

.has-folded {
    background-color: lightgray;
}

.empty-seat {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}


.game-over {
    width: 200px;
}

.is-winner {
    background-color: #d4af37;
}

.winning-hand-style {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #800080;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.player-id {
    padding: 3px 8px;
    padding-left: 0;
    margin-left: 0;
}

.show-label {
    margin-left: 10px;
}

.labels {
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
}

.label-style {
    font-weight: bold;
    background-color: #f0ad4e;
    color: #fff;
    padding: 3px 6px;
    border-radius: 8px;
    font-size: 12px;
    align-self: center;
}

.player-hand {
    display: flex;
    overflow-x: auto;
    padding: 10px;
}

.margin-zero {
    margin: 0;
}

.ready-button {
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
}

.button-pressed:hover {
    background-color: #0056b3;
}

.all-in {
    font-weight: bold;
    color: blue;
}

.fold-style {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: red;
    font-weight: bold;
    padding: 5px;
}

.action-container {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute space between items */
    width: 50%;
    transform: translate(-50%, -50%);
}

.action-button {
    font-size: 1.5rem;
    background-color: rgb(111, 12, 12);
    color: white;
    text-align: center;
    width: 8rem;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.action-button:hover {
    background-color: rgb(76, 5, 5);
}

.back-btn {
    margin-right: 1rem;
    margin-left: 1rem;
}

.raise-value {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
  
.raise-slider {
    -webkit-appearance: none;
    margin-right: 10px; 
    border-radius: 10px;
    flex: 1;
    cursor: pointer;
}

/* Styles for the slider thumb */
.raise-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(111, 12, 12); /* Change thumb color to red */
    cursor: pointer;
    border-radius: 50%;
}

.raise-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: rgb(111, 12, 12); /* Change thumb color to red */
    cursor: pointer;
    border-radius: 50%;
}

.ready-button {
    padding: 5px 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    z-index: 1;
    display: flex;
}

.ready-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-pressed {
    background-color: #cccccc; /* Grey background */
    color: #666666; /* Darker text color for contrast */
    opacity: 0.7; /* Optional: Slightly reduce opacity */
    cursor: default; /* Change cursor to default to indicate the button is inactive */
}