.groups-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
}

groups-page-title {
    color: #007bff;
}
  
.group-id-input,
.group-name-input,
.max-members-input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px; /* Adjust width as needed */
}

.join-group-button,
.toggle-create-form-button,
.create-group-button {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    width: 320px; /* Adjust width to align with inputs */
}

.create-group-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}