.groups-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
}

.groups-page-title {
    color: rgb(111, 12, 12);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.group-item {
    margin: 15px 0;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 500px; /* Increased max width for better layout on wider screens */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Adjust as per your preference */
}

.groupName {
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
}

.group-item-rightPart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.membersCount,
.usersConnected {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 2px 0;
    font-size: 0.9rem;
    color: #666;
}

.online-dot {
    height: 10px;
    width: 10px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5); /* Luminating effect */
}

.group-item button {
    padding: 6px 12px;
    margin-top: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;
}

.group-item button:hover {
    background-color: #0056b3;
}

.groups-page-subtitle {
    color: rgb(111, 12, 12);
}


.group-id-input,
.group-name-input,
.max-members-input {
    padding: 15px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 20px); /* Adjust based on padding */
    max-width: 500px;
    font-size: 1rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.join-group-button,
.toggle-create-form-button,
.create-group-button {
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(111, 12, 12);
    color: white;
    width: 80%;
    max-width: 320px; /* Adjust width to align with inputs */
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.join-group-button:hover,
.toggle-create-form-button:hover,
.create-group-button:hover {
    background-color: rgb(111, 12, 12);
}

.create-group-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
